
# OSX Specific System Files
.DS_Store
*.swp
.Spotlight-V100
.Trashes

# Win Specific System Files
ehthumbs.db
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# Test and Deployment Files
/deploy.php
/phpinfo.php

# Exclude Wordpress Instance Configuration
*.log
.htaccess
sitemap.xml
sitemap.xml.gz
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php

# Automaticly added to end of file by tools
